audio
{
-webkit-transition:all 0.5s linear;
-moz-transition:all 0.5s linear;
-o-transition:all 0.5s linear;
transition:all 0.5s linear;
}
ion-row{
  display: flex;
  justify-content: center;
  text-align: center;
}
body > ion-app > ng-component > ion-nav > ng-component > super-tabs > super-tabs-container > div > super-tab:nth-child(3) > page-detail > ion-content > div.scroll-content > ion-card > ion-card-content > p:nth-child(4){
  padding-bottom:10px;
}
#amazingaudioplayer-AUDIOPLAYERID .amazingaudioplayer-progress-played {
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
background-color: #fcc500;
background-image: -ms-linear-gradient(top, #fede00 0%, #fcc500 100%);
background-image: -moz-linear-gradient(top, #fede00 0%, #fcc500 100%);
background-image: -o-linear-gradient(top, #fede00 0%, #fcc500 100%);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fede00), color-stop(1, #fcc500));
background-image: -webkit-linear-gradient(top, #fede00 0%, #fcc500 100%);
background-image: linear-gradient(to bottom, #fede00 0%, #fcc500 100%);
}
.oeuvreSize{
  font-size: 10px !important;
  font-style: italic;
}
ion-card-title.oeuvreshow{
  font-weight: bold;
}
/* Portrait*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: portrait)  {
  .oeuvreshow{
    font-size: 6rem;
  }
  p{
    font-size: 2.5rem !important;
  }
  .oeuvreSize{
    font-size: 1.9rem !important;
    font-style: italic;
  }
body > ion-app > ng-component > ion-nav > ng-component > super-tabs > super-tabs-container > div > super-tab:nth-child(3) > page-detail > ion-content > div.scroll-content > ion-card > ion-card-content > ion-row > ion-col{
  min-height:7vh;
}
.oeuvreshowunder{
  padding-bottom:1vh;
}
body > ion-app > ng-component > ion-nav > ng-component > super-tabs > super-tabs-container > div > super-tab:nth-child(3) > page-detail > ion-content > div.scroll-content > ion-card > ion-card-content > ion-row > ion-col > button > span{
  font-size:2.7em !important;
}
body > ion-app > ng-component > ion-nav > ng-component > super-tabs > super-tabs-container > div > super-tab:nth-child(3) > page-detail > ion-content > div.scroll-content > ion-card > ion-card-content > ion-row > ion-col > button{
  min-height:7vh;
  padding-top:1.5vh;
  padding-bottom:1.5vh;
}
}
